{% extends "index.html" %}

{% block title %}
    Pending app
{% endblock %}

{% block main %}


<h1 style="padding-top:40px;" class="text-center">
    Pending appoitment requests
</h1>

<div class="container5" >


<table class="table table-striped" >
  <thead>
    <tr >

      <th scope="col" class="text-center">Name</th>
      <th scope="col" class="text-center">Surname</th>
      <th scope="col" class="text-center">Contact</th>
      <th scope="col" class="text-center">Request date</th>
    </tr>
  </thead>
  <tbody>
      {% for row in active %}
    <tr class='clickable-row' action="/p_app" method="post" style="cursor: pointer;" >
      <td class="text-center"> {{row.first_name }}</td>
      <td class="text-center"> {{row.last_name}} </td>
      <td class="text-center">{{row.tel_number}}</td>
      <td class="text-center">{{row.time }}</td>
    </tr>
{% endfor %}



  </tbody>
</table>

<script>

$("tr.clickable-row").click(function() {
    var tableData = $(this).children("td").map(function() {
        return $(this).text();
    }).get();

    $.ajax({
         url: "/p_app",
         method: "POST",
         data: { Data: tableData[2] },
        success: function(response) {

            window.location.href = "/details";

        }
});

    console.log(tableData );

});





</script>

</div>


{% endblock %}