{% extends "index.html" %}
{% block home %} href="/home" {% endblock %}
{% block contact  %} href="/home#contact" {% endblock %}


{% block title %}
    My requests
{% endblock %}

{% block main %}

<div class="container7" >

    <h1 class="text-center" >
10 tips to look after your teeth
    </h1>




	<div class="container6"

<p> </p>
<ol> Good oral hygiene and regular visits to the dentist will help you maintain healthy teeth and gums. </ol>

<ol> Here are some tips to help you look after your teeth.<ol/>
<br />

<ol>
    <li><strong>Brush at least twice a day.</strong> The best time to brush teeth is after meals. Choose a toothbrush with a small head for better access to back teeth. Soft bristles are kinder on your gums.<br />
    <br />
    </li>
    <li><strong>Use fluoridated toothpaste.</strong> Fluoride helps to harden tooth enamel and reduces your risk of decay.<br />
    <br />
    </li>
    <li><strong>Brush thoroughly.</strong> Tooth brushing should take between two and three minutes.<br />
    <br />
    </li>
    <li><strong>Floss your teeth daily.</strong> Use a slow and gentle sawing motion.<br />
    <br />
    </li>
    <li><strong>Limit acidic drinks like soft drinks, cordials and fruit juices.</strong> Food acids soften tooth material and dissolve the minerals in tooth enamel, causing holes (cavities or caries). In severe cases, teeth may be &lsquo;eaten&rsquo; right down to the gum.<br />
    <br />
    </li>
    <li><strong>Limit sugary foods.</strong> Bacteria in dental plaque change sugars into acids.<br />
    <br />
    </li>
    <li><strong>Protect your teeth from injury.</strong> Wear a mouthguard or full-face helmet when playing sports.<br />
    <br />
    </li>
    <li><strong>Try to save a knocked out tooth.</strong> If possible, hold the tooth back in place while you seek immediate dental advice. If this is not possible, wrap the tooth in plastic or place it in milk and seek dental advice immediately.<br />
    <br />
    </li>
    <li><strong>Avoid using your teeth for anything other than chewing food.</strong> If you use them to crack nuts, remove bottle tops or rip open packaging, you risk chipping or even breaking your teeth.<br />
    <br />
    </li>
    <li><strong>See your dentist for regular check-ups.</strong> You should also visit your dentist if you have a dental problem such as a toothache or bleeding gums.</li>
    <br />
</ol>

</div>
</div>
{% endblock%}